@media only screen and (min-width: 400px) {
    
    h1 {
        color: red;
        border: solid;
        font-family: initial;
        padding: 30px;
        text-align: center;
        margin-right: 400px;
        margin-top: 100px;
    }

    #nav {
        list-style-type: none;
    }

    #left-content {
        width: 50%;
        float: left;
    }

    #left-content li {
        list-style-type: none;
        float: left;
        margin-right: 20px;
    }

    #left-content li a {
        text-decoration: none;
        color: white;
    }

    #left-content li a:hover {
        font-weight: bold;
    }

    #left-content li p {
        text-decoration: none;
        color: white;
    }

    #left-content li p:hover {
        font-weight: bold;
    }

    #right-content {
        width: 100%;
        float: left;
    }

    #right-content li {
        list-style-type: none;
        float: right;
        margin-right: 20px;
    }

    #right-content li a {
        font-size: 100px;
        text-decoration: none;
        color: red;
    }

    #right-content li a:hover {
        font-weight: bold;
    }

    #right-content li p {
        font-size: 100px;
        text-decoration: none;
        color: red;
    }

    #right-content li p:hover {
        font-weight: bold;
    }
        
    .header {
        padding: 30px;
        text-align: center;
        background-color: black;
    }

    #col-0 li {
        list-style-type: none;
        margin-right: 20px;
        float: right;
        color: white;
        text-align: left;
        text-decoration: none;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
    }
}